.project {
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.project h1 {
	margin-top: 150px;
	color: #3e497a;
	font-size: 35px;
}
.project img {
	width: 100vw;
	max-width: 600px;
	border-radius: 10px;
}

.project p {
	font-size: 40px;
	color: #3e497a;
	text-align: center;
}

.project svg {
	font-size: 60px;
	color: #3e497a;
}

.open-in-new-tab {
	margin-top: 3rem;
	display: flex;
	gap: 4rem;
}

@media only screen and (max-width: 1200px) {
	.project h1 {
		margin-top: 300px;
	}
}

@media only screen and (max-width: 300px) {
	.project h1 {
		margin-top: 80px;
	}
	.project p {
		font-size: 30px;
		color: #3e497a;
	}
}
